#error-message {
    color: red;
}

#pictureDeleteButton {
    background-color: #E7717D;
    color: white;
    margin-left: 50px;
}

#saveButton {
    background-color: #7E685A;
    color: white;
}

#loadingCircle {
    position:fixed;
    top: 40%;
    left: 40%;
    height: 180px;
    width: 180px;
}
