<div class="container jumbotron">
  <h2>Új ingatlan regisztrálása <i class="fas fa-home"></i></h2>
  <hr/>
  <form (ngSubmit)="submit()" [formGroup]="propertyForm">
    <div class="form-group">
      <label for="name">Ingatlan neve</label>
      <input
        class="form-control"
        formControlName="name"
        id="name"
        name="name"
        placeholder="Kérjük, írja be az ingatlan nevét!"
      />
      <small *ngIf="propertyForm.get('name').invalid && propertyForm.get('name').touched
       && !propertyForm.get('name').errors?.serverError" class="text-danger">
        Az ingatlan neve minimum 3, de maximum 60 karakter lehet.
      </small>
      <small *ngIf="propertyForm.get('name').errors?.serverError" class="text-danger">
        {{propertyForm.get('name').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
        for="numberOfRooms">Szobák száma</label>
      <input
        class="form-control"
        formControlName="numberOfRooms"
        id="numberOfRooms"
        placeholder="írja be a szobák számát!"
        type="number"
      />
      <small *ngIf="propertyForm.get('numberOfRooms').invalid && propertyForm.get('numberOfRooms').touched
      && !propertyForm.get('numberOfRooms').errors?.serverError" class="text-danger">
        A szobák száma minimum 1 és maximum 12 lehet!
      </small>
      <small *ngIf="propertyForm.get('numberOfRooms').errors?.serverError" class="text-danger">
        {{propertyForm.get('numberOfRooms').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
        for="price">Kikiáltási ár</label>
      <input
        class="form-control"
        formControlName="price"
        id="price"
        placeholder="írja be az árat!"
        type="number"
      />
      <small *ngIf="propertyForm.get('price').invalid && propertyForm.get('price').touched
      && !propertyForm.get('price').errors?.serverError" class="text-danger">
        Kérjük, adjon az ingatlannak nullánál nagyobb kikiáltási árat!
      </small>
      <small *ngIf="propertyForm.get('price').errors?.serverError" class="text-danger">
        {{propertyForm.get('price').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
          for="county"
          class="form-control-label"
          [ngClass]="{
                        'text-danger': propertyForm.get('county').invalid && propertyForm.get('county').touched || propertyForm.get('county').errors?.serverError
                    }"
      >
        Megye:
      </label>
      <select
          id="county"
          formControlName="county"
          name="county"
          class="form-control"
          [ngClass]="{
                        'is-invalid': propertyForm.get('county').invalid && propertyForm.get('county').touched || propertyForm.get('county').errors?.serverError
                    }"
      >
        <option value="" disabled>&#45;&#45; Válasszon megyét &#45;&#45;</option>
        <option *ngFor="let county of counties, let i = index"
                value="{{county.name}}">{{county.displayName}}</option>
      </select>
      <small
          class="text-danger"
          *ngIf="propertyForm.get('county').invalid && propertyForm.get('county').touched && !propertyForm.get('county').errors?.serverError"
      >
        Válasszon megyét
      </small>
      <small
          *ngIf="propertyForm.get('county').errors?.serverError"
          class="text-danger"
      >
        {{propertyForm.get('county').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
          for="propertyType"
          class="form-control-label"
          [ngClass]="{
                        'text-danger': propertyForm.get('propertyType').invalid && propertyForm.get('propertyType').touched || propertyForm.get('propertyType').errors?.serverError
                    }"
      >
        Ingatlan típusa:
      </label>
      <select
          id="propertyType"
          formControlName="propertyType"
          name="propertyType"
          class="form-control"
          [ngClass]="{
                        'is-invalid': propertyForm.get('propertyType').invalid && propertyForm.get('propertyType').touched || propertyForm.get('propertyType').errors?.serverError
                    }"
      >
        <option value="" disabled>&#45;&#45; Válasszon típust &#45;&#45;</option>
        <option *ngFor="let propertyType of propertyTypes, let i = index"
                value="{{propertyType.name}}">{{propertyType.displayName}}</option>
      </select>
      <small
          class="text-danger"
          *ngIf="propertyForm.get('propertyType').invalid && propertyForm.get('propertyType').touched && !propertyForm.get('propertyType').errors?.serverError"
      >
        Válasszon megyét
      </small>
      <small
          *ngIf="propertyForm.get('propertyType').errors?.serverError"
          class="text-danger"
      >
        {{propertyForm.get('propertyType').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
          for="propertyState"
          class="form-control-label"
          [ngClass]="{
                        'text-danger': propertyForm.get('propertyState').invalid && propertyForm.get('propertyState').touched || propertyForm.get('propertyState').errors?.serverError
                    }"
      >
        Ingatlan állapota:
      </label>
      <select
          id="propertyState"
          formControlName="propertyState"
          name="propertyState"
          class="form-control"
          [ngClass]="{
                        'is-invalid': propertyForm.get('propertyState').invalid && propertyForm.get('propertyState').touched || propertyForm.get('propertyState').errors?.serverError
                    }"
      >
        <option value="" disabled>&#45;&#45; Ingatlan állapota &#45;&#45;</option>
        <option *ngFor="let propertyState of propertyStates, let i = index"
                value="{{propertyState.name}}">{{propertyState.displayName}}</option>
      </select>
      <small
          class="text-danger"
          *ngIf="propertyForm.get('propertyState').invalid && propertyForm.get('propertyState').touched && !propertyForm.get('propertyState').errors?.serverError"
      >
        Válasszon megyét
      </small>
      <small
          *ngIf="propertyForm.get('propertyState').errors?.serverError"
          class="text-danger"
      >
        {{propertyForm.get('propertyState').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
        for="description">Ingatlan leírása</label>
      <textarea
        aria-multiline="true"
        class="form-control"
        formControlName="description"
        id="description"
        rows="3"
      ></textarea>
      <small *ngIf="propertyForm.get('description').invalid && propertyForm.get('description').touched
      && !propertyForm.get('description').errors?.serverError" class="text-danger">
        A leírásnak legalább 10 karakterből kell állnia.
      </small>
      <small *ngIf="propertyForm.get('description').errors?.serverError" class="text-danger">
        {{propertyForm.get('description').errors['serverError']}}
      </small>
    </div>

        <div class="form-group">
            <label
                for="imageUrl"></label>
            <input
                   style="display:none"
                   class="form-control"
                   accept="image/*"
                   formControlName="imageUrl"
                   id="imageUrl"
                   type="file" (change)="processFile($event)"
                   #imageInput>
            <button type="button" (click)="imageInput.click()">Kattintson ide kép feltöltéséhez!</button>
            <small *ngIf="propertyForm.get('imageUrl').errors?.serverError" class="text-danger">
                {{propertyForm.get('imageUrl').errors['serverError']}}
            </small>
        </div>
        <button type="submit" class="btn btn-primary my-buttons" [disabled]="propertyForm.invalid">Mentés</button>
    </form>
</div>
