<div class="container-fluid">
    <div class="main-holder-div">
        <div class="row">
            <div class="col-6" id="mid-holder-div">
                <p class="tag-p">Technikai segítség:</p>
                <p class="tag-mail">moovsmartproject@gmail.com</p>
                <p></p>
            </div>
            <div class="col-6" id="right-holder-div">
                <p class="tag-p">Moovsmart, Moovsmart ingatlan, aukció, ingatlan aukció, ingatlanok
                    jó áron, belvárosi ingatlan portál
                    ingatlan bazár
                    ellenőrzött ingatlanok</p>
            </div>
        </div>
    </div>
</div>
<div id="end-div">
    <p id="end-p">© 2020. Progmasters, MoovSmartProject. MINDEN JOG FENNTARTVA. | ADATKEZELÉSI NYILATKOZAT</p>
</div>
