<div class="container">
    <h3 class="center">Admin kezelő felület</h3>
    <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn approval" (click)="moveToApproval()">Ingatlan jóváhagyása
                <span *ngIf="propertyForApprove > 0" class="badge badge-light">{{propertyForApprove}}</span></button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn userHandling" (click)="moveToUserHandling()">Felhasználók kezelése</button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn archiveList" (click)="moveToArchived()">Archivált ingatlanok listája
            </button>
        </div>
    </div>
    <div class="container">
        <div *ngIf="buttonPushed === 1" id="header-div">
            <hr>
            <h3>Jóváhagyásra váró ingatlanok</h3>
            <hr>
            <div id="mainDiv">
                <div *ngIf="propertyListItemModels === undefined || propertyListItemModels.length === 0" id="emptydb">
                    <div id="emptydbmessage">Jelenleg nincs jóváhagyásra váró ingatlan.</div>
                </div>
            </div>
        </div>

        <div *ngIf="buttonPushed === 2" id="header-div-2">
            <hr>
            <h3>Kérem, írja be a felhasználó email címét!</h3>
            <hr>
            <form (ngSubmit)="submitEmail()" [formGroup]="emailForm">
                <input type="email" formControlName="userEmail"><br>
                <small *ngIf="emailForm.get('userEmail').invalid && emailForm.get('userEmail').touched"
                       class="text-danger">
                    Email kitöltése kötelező!
                    <br></small>
                <button type="submit" class="btn submit-button">Lekérdezés</button><br>
            </form>
        </div>
        <div *ngIf="buttonPushed === 2">
            <div>Név:<span id="bold" [ngStyle]="userForHandling?.active && {'color':'green'} ||
           !userForHandling?.active && {'color':'#E7717D'}">
                {{userForHandling?.userName}}</span></div>
            <hr>
            <div>Státusz:
                <span *ngIf="userForHandling?.active" style="color: green">Aktív</span>
                <span *ngIf="userForHandling?.active === false" style="color: #E7717D">Inaktív</span>
            </div>
            <div [ngStyle]="{'display':display}">
                <button class="btn archiveList" (click)="listPropertiesOfUser(userForHandling.mail)">Felhasználó
                    ingatlanjainak listázása
                </button>
                <button *ngIf="userForHandling?.active === true" class="btn userHandling"
                        (click)="askForBanUser(userForHandling?.id)">Felhasználó tiltása
                </button>
                <button *ngIf="userForHandling?.active === false" class="btn approval"
                        (click)="unBanUser(userForHandling?.id)">Tiltás feloldása
                </button>
            </div>
        </div>

        <div *ngIf="buttonPushed === 3" id="header-div-3">
            <hr>
            <h3>Archivált ingatlanok</h3>
            <hr>
            <form (ngSubmit)="submit()" [formGroup]="dateForm">
                <input class="dateInput" type="datetime-local" formControlName="dateFrom">
                <input class="dateInput" type="datetime-local" formControlName="dateTo">

                <button type="submit" class="btn submit-button">Lekérdezés</button>
            </form>

            <div *ngIf="(propertyListItemModels === undefined || propertyListItemModels.length === 0)
                        && inquiryButtonPushed === true" id="emptyArchiveMessage">
                Ebben az idősávban nincs archivált ingatlan.
            </div>

        </div>

        <div *ngIf="buttonPushed > 0">
            <div *ngIf="propertyListItemModels !== undefined && propertyListItemModels.length > 0">

                <!-- Property list -->

                <div *ngFor="let property of actualPageList[actualPageNumber-1]" class="mainRow">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3" id="img-holder-row">
                                <div *ngIf="property?.imageUrl[0]?.length < 3">
                                    <img [src]="defaultPicture" class="defaultPicture" [alt]="defaultPicture">
                                </div>
                                <div *ngIf="property?.imageUrl[0]?.length >= 3">
                                    <img (click)="details(property.id)" alt="ingatlan" width="200"
                                         src="{{property?.imageUrl[0]}}"/>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm">
                                        <h5>{{property.name}}</h5>
                                        <div id="area-div"><strong>Terület</strong>: {{property.area}} m<sup>2</sup>
                                        </div>
                                        <div id="price-div"><strong>Ár</strong>: {{property.price}} M ft</div>
                                        <div><strong>Státusz</strong>: {{property.status}}
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div>
                                            <strong>Szobák száma</strong>: {{property.numberOfRooms}}
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div id="detail-button-div" class="d-flex justify-content-center">
                                            <div
                                                *ngIf="(buttonPushed === 1 || buttonPushed === 2) && property.status === 'elfogadásra vár'">
                                                <button id="detail-button" class="btn" (click)="details(property.id)">
                                                    Részletek
                                                </button>
                                            </div>
                                            <div *ngIf="buttonPushed === 3">
                                                <button id="reAccepted-button" class="btn"
                                                        (click)="reactivateProperty(property.id)">
                                                    Visszahelyezés
                                                </button>
                                            </div>
                                        </div>
                                        <div id="date-div">
                                            <strong>Regisztráció: </strong>{{property.time}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="pager" class="d-flex justify-content-center">
                    <div id="leftArrow" *ngIf="actualPageNumber > 1" (click)="pageLeft()" title="lapozz">
                        <i class="fas fa-angle-left"></i>
                    </div>
                    <div id="pagerNumbers">
                        <strong> {{actualPageNumber}} </strong>
                    </div>
                    <div id="rightArrow" *ngIf="actualPageNumber < actualPageList?.length" (click)="pageRight()"
                         title="lapozz">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayBan}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Felhasználó tiltása</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="closeDial()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="error-message">Biztos benne, hogy tiltja a felhasználót?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn approval" data-dismiss="modal"
                        (click)="banUser(userIdForBan)">Igen
                </button>
                <button type="button" class="btn userHandling" data-dismiss="modal" (click)="closeDial()">Nem</button>
            </div>
        </div>
    </div>
</div>