<div class="container jumbotron">
    <h2>Bejelentkezés <i class="far fa-arrow-alt-circle-right"></i></h2>
    <p id="registrate-message">
        <a routerLink="/registration"><strong>nincs még fiókom</strong></a></p>
    <hr/>
    <form (ngSubmit)="onSubmit()" [formGroup]="signInForm">
        <div class="form-group">
            <label for="mail">Email</label>
            <input
                type="email"
                class="form-control"
                formControlName="userName"
                id="mail"
                name="mail"
                placeholder="Kérjük, adja meg az email-címét!"
                required
            />
            <small *ngIf="signInForm.get('userName').invalid && signInForm.get('userName').touched
       && !signInForm.get('userName').errors?.serverError" class="text-danger">
                Érvénytelen email-cím.
            </small>
            <small *ngIf="signInForm.get('userName').errors?.serverError" class="text-danger">
                {{signInForm.get('userName').errors['serverError']}}
            </small>
        </div>

        <div class="form-group">
            <label for="password">Jelszó</label>
            <input
                type="password"
                class="form-control"
                formControlName="password"
                id="password"
                name="password"
                placeholder="Kérjük, adja meg egy jelszavát!"
                required
            />
            <small *ngIf="signInForm.get('password').invalid && signInForm.get('password').touched
       && !signInForm.get('password').errors?.serverError" class="text-danger">
                A jelszó tartalmazzon legalább egy nagybetűt, egy kisbetűt, egy számot és minimum 6 karakter legyen.
            </small>
            <small *ngIf="signInForm.get('password').errors?.serverError" class="text-danger">
                {{signInForm.get('password').errors['serverError']}}
            </small>
        </div>

        <br/>
        <button class="btn" [disabled]="signInForm.invalid">Bejelentkezés</button>
    </form>
</div>

