<div class="container">
    <h2>Regisztráció</h2>
    <hr/>
    <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
        <div class="form-group">
            <label for="userName">Felhasználói név</label>
            <input
                class="form-control"
                formControlName="userName"
                id="userName"
                name="userName"
                placeholder="Kérjük, adjon meg egy felhasználói nevet!"
            />
            <small *ngIf="registrationForm.get('userName').invalid && registrationForm.get('userName').touched
       && !registrationForm.get('userName').errors?.serverError" class="text-danger">
                A felhasználói név minimum 1, de maximum 20 karakter lehet.
            </small>
            <small *ngIf="registrationForm.get('userName').errors?.serverError" class="text-danger">
                {{registrationForm.get('userName').errors['serverError']}}
            </small>
        </div>

        <div class="form-group">
            <label for="mail">Email</label>
            <input
                class="form-control"
                formControlName="mail"
                id="mail"
                name="mail"
                placeholder="Kérjük, adja meg az email-címét!"
            />
            <small *ngIf="registrationForm.get('mail').invalid && registrationForm.get('mail').touched
       && !registrationForm.get('mail').errors?.serverError" class="text-danger">
                Érvénytelen email-cím.
            </small>
            <small *ngIf="registrationForm.get('mail').errors?.serverError" class="text-danger">
                {{registrationForm.get('mail').errors['serverError']}}
            </small>
        </div>

        <div class="form-group">
            <label for="password">Jelszó</label>
            <input
                class="form-control"
                formControlName="password"
                id="password"
                name="password"
                placeholder="Kérjük, adjon meg egy jelszót!"
            />
            <small *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched
       && !registrationForm.get('password').errors?.serverError" class="text-danger">
                A felhasználói név minimum 1, de maximum 20 karakter lehet.
            </small>
            <small *ngIf="registrationForm.get('password').errors?.serverError" class="text-danger">
                {{registrationForm.get('password').errors['serverError']}}
            </small>
        </div>

        <br/>
        <button class="btn btn-primary my-buttons" [disabled]="registrationForm.invalid">Mentés</button>
    </form>
</div>
