<div class="container jumbotron">
    <div id="header-div">
        <h3>Profil <i class="fas fa-user-edit"></i></h3>
        <hr>
    </div>
    <div>
        <div class="d-flex justify-content">
            <button class="btn btn-secondary" [class.button-touched]="!queryStatus"
                    (click)="refreshPropertyList()">Aktiv Hirdetéseim
            </button>
            <button class="btn btn-secondary" [class.button-touched]="queryStatus"
                    (click)="getHoldingList()">Elfogadásra vár
            </button>
            <button class="btn btn-info" routerLink="/property-form">Új hirdetés</button>
        </div>

        <div id="list-holder-div">
            <div *ngFor="let property of actualPageList[actualPageNumber-1]" id="mainBoard-div">
                <div class="mainRow">
                    <div class="container-fluid">
                        <div class="row" id="img-div-holder">
                            <div class="col-sm-3" id="img-holder-row">
                                <div *ngIf="property?.imageUrl[0]?.length < 3">
                                    <img [src]="defaultPicture" class="defaultPicture" [alt]="defaultPicture">
                                </div>
                                <div *ngIf="property?.imageUrl[0]?.length >= 3">
                                    <img (click)="details(property.id)" alt="ingatlan" class="defaultPicture"
                                         src="{{property?.imageUrl[0]}}"/>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm">
                                        <h5>{{property.name}}</h5>
                                        <div id="area-div"><strong>Terület</strong>: {{property.area}} m<sup>2</sup>
                                        </div>
                                        <div id="price-div"><strong>Ár</strong>: {{property.price}} M ft</div>
                                    </div>
                                    <div class="col-sm">
                                        <div>
                                            <strong>Szobák száma</strong>: {{property.numberOfRooms}}
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="status-div" *ngIf="queryStatus" >
                                            <strong>
                                                <span>Státusz: </span><span style="color: #E7717D"
                                                class="status-message-accepted">{{property.status}}</span>
                                            </strong>
                                        </div>
                                        <div class="status-div" *ngIf="!queryStatus">
                                            <strong>
                                                <span>Státusz: </span><span
                                                class="status-message-accepted">{{property.status}}</span>
                                            </strong>
                                        </div>
                                        <div id="detail-button-div" class="d-flex justify-content-center">
                                            <div>
                                                <button id="detail-button" class="btn" (click)="details(property.id)">
                                                    Részletek
                                                </button>
                                            </div>
                                            <div id="edit-icon">
                                                <a *ngIf="storage?.userId == property.userId"
                                                   (click)="details(property.id)"
                                                   title="Szerkesztés"> <i class="fas fa-wrench"></i></a>
                                            </div>
                                        </div>
                                        <div id="date-div">
                                            <strong>Regisztráció: </strong>{{property.time}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- new Commit from remote -->
    <div id="div-empty-ownlist" *ngIf="emptyList">
        <p>Jelenleg nincs saját ingatlan</p>
    </div>
    <!-- adding comment from test-Zoli-L -->

    <div *ngIf="propertyListItemModels.length > 0" id="pager" class="d-flex justify-content-center">
        <div id="leftArrow" *ngIf="actualPageNumber > 1" (click)="pageLeft()" title="lapozz">
            <i class="fas fa-angle-left"></i>
        </div>
        <div id="pagerNumbers">
            <strong> {{actualPageNumber}} </strong>
        </div>
        <div id="rightArrow" *ngIf="actualPageNumber < actualPageList?.length" (click)="pageRight()"
             title="lapozz">
            <i class="fas fa-angle-right"></i>
        </div>
    </div>
</div>
