#header-div {
    text-align: center;
}

.btn {
    width: 150px;
}

hr {
    max-width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#mainRow {
    border-width: 3px;
    border-style: solid;
    border-color: #C2B9B0;
}

#detail-button {
    background-color: #7E685A;
    color: white;
    width: 150px;
}

#button-holding-list {
    background-color: white;
}

.button-touched {
    background-color: white;
    color: darkslategray;
    width: 150%;
}

#button-new-adding {
    background-color: lightslategrey;
    color: blue;
}

.btn-btn-light {
    background-color: lightgrey;
}

.btn-btn-info {
    background-color: lightgrey;
}

#mainBoard-div {
    background-color: white;
}

#status-div {
    text-align: right;
    margin-right: 5%;
    margin-bottom: 2%;
}

.status-message-accepted {
    color: green;
}

.status-message-holding {
    color: #E7717D;
}

.btn {
    width: 180px;
}

.defaultPicture {
    height: 100%;
    width: 100%;
    max-width: 200px;
    max-height: 170px;
}

#mainDiv {
    margin-top: 0;
    padding-top: 0;
    margin-right: auto;
    margin-left: auto;
}

#emptydbmessage {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#emptyPicture {
    max-width: 90%;
    height: auto;
}

#detail-button {
    background-color: #7E685A;
    color: white;
    width: 150px;
}

.mainRow {
    border-width: 3px;
    border-style: solid;
    border-color: #C2B9B0;
    background-color: white;
    padding: 2%;
}

#row-last-filter {
    margin-top: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    text-align: right;
    background-color: white;
    margin-bottom: 1%;
}

#last-button-header {
    text-align: right;
    padding-right: 2%;
}

.row, h2 {
    margin-top: 0;
    padding-top: 0;
}

#pager {
    text-align: center;
    position: relative;
    margin-top: 3%;
}

#pager div {
    margin: 0 .5rem;
}

#leftArrow {
    display: inline-block;

}

#rightArrow {
    display: inline-block;
}

.room-list-item__image {
    text-align: center;
}

#detail-button-div {
    margin-bottom: 15%;
    margin-top: 15%;
}

#date-div {
    text-align: right;
}

#img-holder-row {
    text-align: center;
    background-color: lightgrey;
    padding: 3px;
    margin-top: auto;
    margin-bottom: auto;

}

#img-div-holder {
    margin-top: auto;
    margin-bottom: auto;
}

#edit-icon {
    margin-left: 5%;
    margin-right: 5%;
}

#area-div, #price-div {
    margin-bottom: 5%;
}



