<div class="container jumbotron">
    <div id="header-div">
        <h3>Profil</h3><hr>
    </div>
    <div>
        <button class="btn btn-info" id="button-new" routerLink="/property-form">Új ingatlan létrehozása</button></div>
    <div>
        <table *ngIf="propertyListItemModels?.length !== 0" id="list-table" class="table table-borderless">
            <thead>
            </thead>
            <tbody>
                <div *ngFor="let property of propertyListItemModels" id="mainRow">
                    <tr>
                        <td>
                            <div *ngIf="property?.imageUrl[0]?.length < 3">
                                <img [src]="defaultPicture" class="defaultPicture" [alt]="defaultPicture">
                            </div>
                            <div *ngIf="property?.imageUrl[0]?.length >= 3">
                                <img (click)="details(property.id)" alt="ingatlan" class="room-list-item__image"
                                     width="200"
                                     src="{{property?.imageUrl[0]}}"/>
                            </div>
                        </td>
                        <td id="property-name-td">
                            <h5>{{property.name}}</h5>
                            <p><strong>Szobák száma: </strong> {{property.numberOfRooms}}</p>
                            <p><strong>Ár: </strong> {{property.price}}M Ft</p>
                        </td>
                        <td><strong>Terület:</strong> {{property.area}}m<sup>2</sup></td>
                        <td><strong>Hirdetés dátuma:</strong></td>
                        <td>{{property.time}}</td>
                        <td class="btn-group" id="button-container">
                            <button id="detail-button" class="btn" (click)="details(property.id)">Részletek</button>
                        </td>
                        <td *ngIf="storage?.userId == property.userId">
                            <a (click)="details(property.id)" title="Szerkesztés"> <i class="fas fa-wrench"></i></a>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
    <div id="div-empty-ownlist" *ngIf="emptyList">
        <p>Jelenleg nincs ingatlan a saját listában</p>
    </div>
</div>
