#emptydb {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

#emptydbmessage {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}