#pictureForDelete {
    max-height: 200px;
    max-width: 250px;
    padding: 20px;
}

#buttonForDelete {
    background-color: #E7717D;
    color: white;
    margin-left: 20px;
}

.confirmationButton {
    background-color: #E7717D;
    color: white;
}

.cancelButton {
    background-color: #C2B9B0;
    color: white;
}