#img-holder-row {
    background-color: #7E685A;
    max-height: 90%;
    width: auto;
    text-align: center;
}


.small-img {
    max-height: 70px;
    width: auto;
}

#img-bonder {
    display: inline;
}


.container{
    max-width: 50%;
    margin-bottom: 2%;
    background-color: antiquewhite;
    padding-bottom: 3px;
}

#text-container{
    background-color: antiquewhite;
}

#map{
    height: 400px;
    width: 100%;
}

a{
    color: darkblue;
}
a:hover{
    color: magenta;
}

#bottom-div{
    margin-bottom: 3%;
}
