#img-holder-row {
    background-color: antiquewhite;
    max-height: 90%;
    width: auto;
    text-align: center;
}

#main-div-container {
    margin-top: 1%;
    padding-top: 1%;
    background-color: white;
}

#list-holder-div{
    padding: 20px;
    background-color: red;
}

.small-img {
    max-height: 70px;
    width: auto;
}

#img-bonder {
    display: inline;
}

.container {
    margin-bottom: 2%;
    background-color: white;
    padding-bottom: 3px;
}

#text-container {
    background-color: white;
}

#map {
    height: 400px;
    width: 100%;
}

a {
    color: darkblue;
}

a:hover {
    color: magenta;
}

#bottom-div {
    margin-bottom: 3%;
    text-align: right;
}
.row{
    margin-top: 1%;
}

.buttonForDelete {
    background-color: #E7717D;
    color: white;
    margin-bottom: 50px;
}

.confirmationButton {
    background-color: #E7717D;
    color: white;
}

.cancelButton {
    background-color: #C2B9B0;
    color: white;
}
#col-button{
    text-align: right;
}

#status-actual{
    margin-right: 0;
    margin-left: auto;
}
#status-span{
    margin-left: 20%;
}

.details {
    margin-bottom: 100px;
}
