<div class="container" id="cont">
    <div id="main-div-container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img [src]="defaultPicture" class="d-block w-100" alt="picture">
                </div>
                <div class="carousel-item" *ngFor="let image of images">
                    <img src="{{image}}" class="d-block w-100" alt="picture" id="main-img"
                         (click)="changeDefaultImg(image)">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div id="img-holder-row">
            <div *ngFor="let image of images" id="img-bonder">
                <img [src]="image" class="small-img" alt="picture" (click)="changeDefaultImg(image)">
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col">
                <h5><strong>Ingatlan részletei</strong></h5>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <strong>Ingatlan:</strong> {{propertyDetails?.name + " "}}
            </div>
            <div class="col">
                <strong>Típus:</strong> {{propertyDetails?.propertyType + " "}}
            </div>
            <div class="col">
                <strong>Terület: </strong>{{propertyDetails?.area}}m<sup>2</sup>
            </div>


        </div>
        <div class="row">
            <div class="col">
                <strong>Szobák száma:</strong> {{propertyDetails?.numberOfRooms}}
            </div>
            <div class="col">
                <strong>Ár:</strong> {{propertyDetails?.price}} M Ft
            </div>
            <div class="col">
                <strong>Építés éve:</strong> {{propertyDetails?.buildingYear + " "}}
            </div>
        </div>
        <div class="row" id="details-div">

            <div class="col">
                <strong>Megye:</strong> {{propertyDetails?.county}}
            </div>
            <div class="col">
                <strong>Város:</strong> {{propertyDetails?.city}}
            </div>
            <div class="col">
                <strong>Utca:</strong> {{propertyDetails?.street}}
            </div>

        </div>
        <div class="row">

            <div class="col-sm-4">
                <strong>Házszám:</strong> {{propertyDetails?.streetNumber}}
            </div>

        <div class="col-sm-4">
            <strong>Állapot:</strong> {{propertyDetails?.propertyState}}
        </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <p></p>
    <hr>
    <p><strong>Részletes leírás:</strong></p>
    <p>{{propertyDetails?.description}}</p>

    <button class="btn accept-button" (click)="approve(propertyDetails?.id)">Jóváhagyás</button>
    <button class="btn reject-button" (click)="askingForSure(propertyDetails?.id)">Elutasítás</button>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ingatlan törlése</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="closeDial()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="error-message">Biztos benne, hogy nem hagyja jóvá az ingatlant?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn accept-button" data-dismiss="modal"
                        (click)="delete(propertyToDelete)">Igen
                </button>
                <button type="button" class="btn reject-button" data-dismiss="modal" (click)="closeDial()">Nem</button>
            </div>
        </div>
    </div>
</div>
